/* GOOGLE FONTS */

@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: local('DM Sans Italic'), local('DMSans-Italic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Fp2ywxg089UriCZa4Hz-DJF4e8A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local('DM Sans Regular'), local('DMSans-Regular'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: local('DM Sans Bold'), local('DMSans-Bold'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Cp2ywxg089UriASitCBimC3YU-Ck.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_iiUXtHA_3-uE0qEEw.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfFunDXbtXK-F2qC0s.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Proza Libre';
    font-style: italic;
    font-weight: 500;
    src: local('Proza Libre Medium Italic'), local('ProzaLibre-MediumItalic'), url(https://fonts.gstatic.com/s/prozalibre/v4/LYjZdGHgj0k1DIQRyUEyyEotTCvcSJOS8hyOt1g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 500;
    src: local('Proza Libre Medium'), local('ProzaLibre-Medium'), url(https://fonts.gstatic.com/s/prozalibre/v4/LYjbdGHgj0k1DIQRyUEyyELbV8_YeJGY9T6M.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


/* RESETTING BASELINE SIZING */

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


/* BEGIN CONTENT */


/* BODY TEXT STYLING */

body {
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 2.75rem;
    font-family: 'Playfair Display'
}

h2 {
    font-weight: 700;
    font-size: 1.25rem;
    font-family: 'DM Sans';
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: rgb(215, 208, 200);
}

p {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'DM Sans';
    line-height: 1.75rem;
    letter-spacing: 0.02rem;
}

a {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'DM Sans';
    line-height: 1.75rem;
    letter-spacing: 0.02rem;
}


/* NAV BAR */

.navbar {
    background-color: rgb(43, 34, 38);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar li{
    display: inline-block;
    padding: 20px 20px;
}

.navbar a{
    text-decoration: none;
    color: rgb(215, 208, 200);
}

.navbar a:hover{
    color: rgb(234, 144, 155);
}


/* BANNER */

.banner {
    background-color: rgb(215, 208, 200);
    color: rgb(43, 34, 38);
    width: 100%;
    position: relative;
    top: 56px;
    left: 0;
    z-index: 1;
    padding: 100px 0;
}


/* CONTAINER STYLING */

.container {
    position: relative;
    top: 100px;
    margin: 60px auto 150px auto;
}


/* COLOR SECTION */

.color-container {
    width: 80%;
    margin: 20px auto;
}

.color-panel {
    width: 256px;
    height: 256px;
    border-radius: 100%;
    margin: 20px;
    display: inline-block;
}

.terra-cotta {
    background-color: rgb(219, 127, 103);
    color: rgb(215, 208, 200);
    padding: auto;
}

.tyrian-purple {
    background-color: rgb(69, 6, 46);
    color: rgb(215, 208, 200);
    padding: auto;
}

.vermillion {
    background-color: rgb(205, 74, 77);
    color: rgb(215, 208, 200);
    padding: auto;
}

.raisin {
    background-color: rgb(43, 34, 38);
    color: rgb(215, 208, 200);
    padding: auto;
}

.mauve {
    background-color: rgb(234, 144, 155);
    color: rgb(215, 208, 200);
    padding: auto;
}

.gray {
    background-color: rgb(215, 208, 200);
    color: rgb(43, 34, 38);
    padding: auto;
}

.color-label {
    margin-top: 96px;
}

.color-rgb {
    margin-top: 12px;
}


/* FONT SECTION */

.font-container {
    width: 70%;
    margin: 20px auto;
    color: rgb(43, 34, 38);
}

.font-panel {
    display: inline-block;
    padding: 20px;
}

.font-label {
    font-size: 1.25rem;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.playfair-display {
    font-family: 'Playfair Display';
}

.proza-libre {
    font-family: 'Proza Libre'
}

.dm-sans {
    font-family: 'DM Sans';
}


/* TEXT SECTION */

.text-container {
    width: 70%;
    margin: 20px auto;
    color: rgb(43, 34, 38);
}

.text-panel {
    padding: 20px;
    list-style-type: none;
}

.subhead {
    font-weight: 700;
    font-size: 1.25rem;
    font-family: 'DM Sans';
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: rgb(43, 34, 38);
}


/* FOOTER */

footer {
    background-color: rgb(215, 208, 200);
    position: relative;
    top: 56px;
    width: 100%;
    bottom: 0;
    padding: 40px;
}
